<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="icon" href="{{ site.favicon }}">
  <link rel="stylesheet" href="{{ "/assets/css/fontawesome/fontawesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/fontawesome/regular.min.css" | relative_url }}">
  <link res="stylesheet" href="{{ "/assets/css/fontawesome/brands.min.css" | relative_url }}">
  <link res="stylesheet" href="{{ "/assets/css/fontawesome/solid.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/typeface-noto-sans.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- include custom-head.html -%}
</head>
