<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="icon" href="/assets/images/icons/favicon.ico" sizes="any">
  <link rel="icon" href="/assets/images/icons/icon.svg" type="image/svg+xml" sizes="any">
  <link rel="apple-touch-icon" href="/assets/images/icons/apple-touch-icon.png" sizes="180x180">
  <link rel="me" href="https://mas.to/@evgandr">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <meta name="fediverse:creator" content="@evgandr@mas.to">
  {%- feed_meta -%}
</head>
