
{%- include functions.html func='get_banner' -%}

{%- include functions.html func='log' level='debug' msg='Get header_transparent value' -%}
{%- assign name = 'header_transparent' -%}
{%- include functions.html func='get_value' default=true -%}
{%- assign header_transparent = return -%}

{%- if has_banner and header_transparent -%}
  {%- assign header_transparent_class = "site-header-transparent" -%}
{%- endif -%}

<header class="site-header {{ header_transparent_class }}" role="banner">

  <div class="wrapper">
    <div class="site-header-inner">
      {%- assign default_paths = site.pages | where: "dir", "/" | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}

      <span class="site-brand">
        {%- include views/site-brand.html -%}
      </span>

      {%- if page_paths -%}
        <nav class="site-nav">
          <div class="trigger">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | upcase | escape }}</a>
              {%- endif -%}
            {%- endfor -%}

            {% if site.active_lang == site.default_lang %}
            <a class="page-link" href=" {{ "/feed.xml" | relative_url }}">RSS</a>
            {% else %}
            <a class="page-link" href="/{{site.active_lang}}{{"/feed.xml" | relative_url}}">RSS</a>
            {% endif %}

            <a class="page-link" style="text-decoration: none">|</a>
            {% for lang in site.languages %}
              {% if lang == site.active_lang %}
                <a class="page-link" style="text-decoration: none; border: 1px solid">{{ lang | upcase }}</a>
              {% else %}
                {% if lang == site.default_lang %}
                <a class="page-link" {% static_href -%} href="{{ page.url }}" {%- endstatic_href %}>{{ lang | upcase }}</a>
                {% else %}
                  <a class="page-link" href="/{{ lang }}{{ page.url | relative_url }}">{{ lang | upcase }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      {%- endif -%}
    </div>
  </div>
</header>
