{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    {% if post.lang == site.active_lang %}
    <li>
      {%- assign date_format = "%Y.%m.%d" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- assign post_url = post.url | relative_url -%}

      <div class="post-meta">
        <span class="post-date">{{ post.date | date: date_format }}&nbsp;</span>
        <span class="post-title">
          <a class="post-link" href="{{ post_url }}" title="{{ post.summary }}">
            {{ post.title | escape }}
          </a>
        </span>
        <span class="post-category">
          &nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: text-top" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
          <a href="{{ '/categories.html' | relative_url }}#{{post.category }}">
            {{ post.category }}
          </a>
        </span>
      </div>
    </li>
    {% endif %}
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
