{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    {% if post.lang == site.active_lang %}
    <li>
      {%- assign date_format = "%Y.%m.%d" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- assign post_url = post.url | relative_url -%}

      <div class="post-meta">
        <span class="post-date">{{ post.date | date: date_format }}&nbsp;</span>
        <span class="post-title">
          <a class="post-link" href="{{ post_url }}" title="{{ post.summary }}">
            {{ post.title | escape }}
          </a>
        </span>
      </div>
    </li>
    {% endif %}
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
